body{
  background-color: #E9F1DF;
}

p{
padding: 5px 0px 0px 5px;
}

h1{
  padding: 5px;
}

h2{
  color: #4AD9D9;
}

.btn{
  background-color: pink;
  font-family: verdana;
  font-size: 10px;
}
.accentColor{
  color: #F2385A;
}
.verticaLine{
  border-left: 20px solid #F5A503;
}
.verticaLineMenu{
  border-right: 10px solid #36B1BF;
}
